* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.color{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:radial-gradient(circle, rgb(184, 235, 233),rgb(135, 235, 203),rgb(27, 208, 217)) ;
    height: 100vh;
}

.top{
    font-size: 4em;
    background:linear-gradient(to right ,rgb(72, 72, 235),rgba(255, 0, 0, 0.729));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1{

}