body{
    margin: 0;
    background-image: linear-gradient(to right, rgba(0, 238, 255, 0.919) , rgb(224, 224, 99))
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* For 100% screen height */
    width:  100vw;
}
.top h1{
    writing-mode: vertical-lr;
    font-size: 6em;
    margin: 0;
    width:fit-content ;
    height: fit-content;
    color: skyblue;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite; 
}
.inner{
    width: 15%;
}

@keyframes example {
    0% {color:violet; }
    25% {color:indigo; }
    50% {color:red; }
    75% {color:green; }
    100% {color:orange}
  }